<div class="absolute top-0 w-full px-2">
    <div class="float-right"><i class="fa fa-x"></i></div>
</div>
<div class="w-full flex bg-gray-100 justify-center flex-col min-h-screen">
    <div class="flex lg:flex-row justify-center items-center min-h-screen w-full">
        <div class="px-3 md:px-5 w-full max-w-md">
            <h1 class="font-bold text-center text-blue-700 hidden md:block text-3xl">Sign In</h1>
            <h3 class="font-bold text-center text-blue-700 block md:hidden text-xl">Sign In</h3>
            <form class="md:px-5 mt-6">
                <div>
                    <label for="usernameInput" class="block mb-1 text-gray-700">Username:</label>
                    <input type="text" name="username" id="usernameInput" class="w-full px-3 py-2 border border-gray-300 rounded text-gray-900 focus:outline-none focus:ring-2 focus:ring-blue-400">
                </div>
                <div class="my-3">
                    <label for="passwordInput" class="block mb-1 text-gray-700">Password:</label>
                    <input type="password" name="password" id="passwordInput" class="w-full px-3 py-2 border border-gray-300 rounded text-gray-900 focus:outline-none focus:ring-2 focus:ring-blue-400">
                </div>
                <div>
                    <button class="w-full bg-blue-600 hover:bg-blue-700 text-white font-bold py-2 rounded transition">Sign in</button>
                </div>
            </form>
        </div>
    </div>
</div>
